<h3>Address</h3>

<%= form_for [ @student, @address ] do |f| %>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <%= f.label :street %>
    <%= f.text_area :street %>
    <%= f.label :city %>
    <%= f.text_area :city %>
    <%= f.label :state %>
    <%= f.text_area :state %>
    <%= f.label :zip %>
    <%= f.text_area :zip %>
    <%= f.submit 'Save' %>
<% end %>
