<!DOCTYPE html>
<html>
<head>
  <title>Enrollment</title>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<nav class="navbar is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <!-- navbar items, navbar burger... -->
    <%= link_to "Students", students_path, method: "get", class: "navbar-item"%>
    <%= link_to "Enroll a New Student", new_student_path, method: "get", class: "navbar-item"%>
  </div>
</nav>
<body>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>
<%= yield %>

</body>
</html>
